{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminHomeController!{% endblock %}

{% block body %}
<div class="container mt-4">
<a href="{{ path('admin_index')}}">job Offers</a><br>
<a href="{{ path('admin_info_client_index')}}">info_client</a><br>
<a href="{{ path('admin_client_index')}}">Client</a><br>
<a href="">#</a><br>
<a href="">#</a><br>
<a href="">#</a><br>
<a href="">#</a><br>
<a href="">#</a><br>
<a href="">#</a><br>
</div>

{% endblock %}
