{% extends 'base_admin.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>Edit Client</h1>

    {{ include('admin/admin_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_client_index') }}">back to list</a>

</div>
{% endblock %}
