<form method="post" action="{{ path('candidate_delete', {'id': candidate.id}) }}" onsubmit="return prompt('Please Type \'Delete my account\' to delete your K-Yachting Services account:') == 'Delete my account'">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidate.id) }}">
    <button class="btn">Delete</button>
</form>
